@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}
main {
    margin-bottom: 635px;
}
.hero-scene-content {
    height: 200px; /* Hauteur par défaut pour mobile */
}

@media (min-width: 991px) {
    main {
        margin-bottom: 305px;
    }
    .hero-scene-content {
        height: 400px;
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    ul {
        list-style: none;
    }
    .mentionsLiens {
        color: white;
        text-decoration: none;
        &:hover {
            color: $dark;
        }
    }
    span {
        color: $dark;
    }
}

.hero-scene {
    position: relative;
    &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.3);
    background-image: url("../assets/images/main_hero.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    }
    *{
        position: relative;
    }
    .hero-scene-content {
        @media (max-width:991px) {
            img{
                width: 100px;
            }
            h1{
                font-size: 14px;
            }
        }
        h1{
            text-align: justify;
            width: 40%;
        }
    }
}